*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.jus-center {
    justify-content: center;
}

.container {
    height: 100vh;
    align-items: center;
}

.calculator{
    display: grid;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, .16);
    grid-template-columns: repeat(4, 70px);
}

.calculator input {
    grid-column: span 4;
    height: 90px;
    border-radius: 30px;
    border: none;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, .16);
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 40px;

}

.calculator button {
    height: 50px;
    width: 50px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50%;
    margin: 8px;
}

.calculator button.equal {
    width: 190px;
    border-radius: 27px;
}