@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spline Sans', sans-serif;
    letter-spacing: 1px;
}

.container {
    width: 100%;
    background-color: #273140;
}

.bg-c-gray {
    background-color: #273140;
}

.w-100 {
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33%;
}

.w-11{
    width: 11%;
}

.w-40{
    width: 40%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.h-13{
    height: 10vh;
}

.h-80 {
    height: 80vh;
}

.c-fff {
    color: #fff;
}

.bg-c-fff {
    background-color: #fff;
}

.bg-c-blue {
    background-color: #1080f2;
}

.c-blue {
    color: #1080f2;
}

.d-flex {
    display: flex;
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.nav {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 22px;
    margin-right: 15px;
}

.btn-nav {
    padding: 9px 30px;
    background-color: #1080f2;
    border-radius: 4px;
    color: #fff;
}

.justify-con-spc-evnly {
    justify-content: space-evenly;
}

.h1-fs-45 {
    font-size: 45px;
}

.fs-18 {
    font-size: 18px;
}

.p-30 {
    padding: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.transform-y-80 {
    transform: translateY(82px);
}

.a-default a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

/* Hero Image */

.bg-hero{
    background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7)), url(img/headerbg.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

.lists {
    list-style: none;
}

.sec2{
    padding: 50px 0px;
}